.front-page {
    align-items: center;
    background-color: pink;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.front--welcome {
    align-items: center;
    background-color: pink;
    border-radius: 16px;
    box-sizing: border-box;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond';
    height: 800px;
    padding: 2em;
    width: 80%;
}

.front--logo img {
    height: 66px;
}

.front--logo {
    align-items: center;
    display: flex;
}

.front--logo h1 {
    font-size: 65px;
}

.front--sublogo {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.front--welcome p {
    font-size: 32px;
    font-weight: bold;
}

.front--link {
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: center;
    width: 100%;
}

button {
    animation: fadein 3s;
    border: 3px solid white;
    border-radius: 50px;
    color: rgb(190, 131, 141);
    font-family: Cochin;
    font-size: 30px;
    height: 150px;
    width: 450px;
}

button:hover {
    border: 2px solid gold;
    font-size: 32px;
    height: 160px;
    width: 480px;
}

.pink-feather {
    position: absolute;
    top: 0px;
    right: 50px;
}

.gold-feather {
    position: absolute;
    top: 0px;
}

.grey-feather {
    position: absolute;
    top: 0px;
    left: 50px;
}

.feather-wrapper {
    animation: fade 10s infinite linear;
}

.feather-down {
    animation: down 10s infinite linear;
}

.feather-side {
    animation: side 4s infinite ease-in-out;
}

.feather-wrapper {
    animation: fade 10s infinite linear;
}

@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fade {
0% {
  opacity: 0;
}
25% {
  opacity: 1;
}
75% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}

@keyframes down {
0% {
  transform: translateY(-800px);
}
50% {
  transform: translateY(0px);
}
100% {
transform: translateY(800px);
}
}

@keyframes side {
0% {
  transform: translateX(-100px);
}
50% {
  transform: translateX(100px);
}
100% {
  transform: translateX(-100px);
}
}