.product-display {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    width: 100%;
}

.product {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    width: 25%;
}

.product img {
    height: 300px;
    outline: 5px solid pink;
}

.product-name {
    color: rgb(175, 129, 11);
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 40px;
    text-align: center;
}

.product p {
    color: rgb(150, 146, 146);
    font-size: 25px;
    margin: 0;
}

.product img:hover {
    outline-color: gold;
}

h2 {
    color: rgb(41, 39, 40);
    font-size: 86px;
    margin-bottom: 30px;
    margin-left: 10%;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: rgb(252, 161, 176);
}

.category-description {
    color: rgb(143, 131, 131);
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 50px;
    margin-left: 10%;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 50px;
        margin-left: 0px;
        text-align: center;
    }

    .category-description {
        font-size: 22px;
        text-align: center;
        width: 82%;
    }

    .product-display {
        flex-direction: column;
    }

    .product {
        margin-left: 0;
        width: 100%;
    }

    .product-name {
        width: 100%;
    }
}