.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    z-index: 1;
    width: 100%;
}

.header--logo img {
    height: 66px;
}

.header--logo {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 30px;
    width: 100%;
}

.header--logo h1 {
    color: pink;
    font-size: 65px;
}

.header--menu {
    background-color: pink;
    color: white;
    font-weight: bold;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

li {
    border-right: 1px solid whitesmoke;
    font-size: 32px;
    height: 100%;
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    width: 20%;
}

li:hover {
    background-color: rgb(240, 215, 152);
    color: whitesmoke;
}

.body {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
    width: 100%;
}

.content {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 500px;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 0px;
    width: 80%;
}

.footer {
    background-color: rgb(248, 166, 179);
    color: white;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 50px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 600px) {

    .header--logo h1 {
    color: pink;
    font-size: 50px;
    }

    .header--logo img {
        height: 50px;
    }

    ul {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    li {
        border-bottom: 1px solid whitesmoke;
        border-right: none;
        text-align: center;
        width: 100%;
    }

    .body {
        padding: 20px;
    }
    
    .footer {
        font-size: 30px;
    }
}